*{
    margin:0;
    padding:0;
}
nav{
    background-color: black;
    color:white;
    padding:20px;
}
h1,ul,li{
    display:inline;
}
ul{
    margin-left:60%;
}
li{
    color:gray;
    cursor: pointer;
}
li:hover{
    color:white;
}
input{
    width:60%;
    padding:15px;
}
.searchbar{
    padding:50px;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display:inline-block;
    width:220px;
}
.products{
    text-align: center;
}
.box:hover{
    background-color: black;
    color:white;
}
.about{
    display:block;
    text-align: center;
    margin-top: 20px;
    padding:20px;
}
.contact{
    text-align:center;
    background-color: black;
    color:white;
    padding:20px;
}

